* {
  box-sizing: border-box;
  font-family: Inknut Antiqua, serif;
  margin: 0;
  outline: 0;
  padding: 0;
}

:root {
  --active-fieldset: grey;
  --clear-white: white;
  --trybe-body: rgb(239, 239, 239);
  --trybe-footer: rgb(60, 64, 74);
  --trybe-green: rgb(50, 167, 145);
  --trybe-purple: rgb(78, 44, 131);
}

body {
  background-color: var(--trybe-white);
}

.header {
  align-items: center;
  background-color: var(--trybe-green);
  color: var(--clear-white);
  display: flex;
  height: 10vh;
  justify-content: space-between;

  /* max-width: 1366px; */
  padding: 20px;
}

#trybewarts-forms-logo {
  height: 500px;
}

.header img {
  height: 8vh;
}

.trybewarts-login {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.trybewarts-login input {
  background-color: var(--clear-white);
  border-radius: 8px;
  border-style: none;
  font-weight: 600;
  margin-right: 12px;
  padding: 3px 12px;
  width: 160px;
}

button {
  background-color: var(--trybe-purple);
  border: 2px solid var(--clear-white);
  border-radius: 8px;
  color: var(--clear-white);
  cursor: pointer;
  font-weight: 600;
  height: 39px;
  transition: 0.2s;
}

button:hover {
  background-color: var(--clear-white);
  border-color: var(--trybe-purple);
  color: var(--trybe-purple);
}

.login-btn {
  border-color: var(--trybe-purple);
  width: 160px;
}

.fieldset-one {
  line-height: 4;
}

.fieldset-two {
  display: flex;
}

footer div {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 1366px;
}

.fieldset-one div {
  display: inline;
  width: 48%;
}

.fieldset-two > div:nth-of-type( 1 ) {
  display: flex;
  flex-direction: column;
  width: 50%;
}


button:disabled {
  cursor: not-allowed;
}

.form-title {
  margin-bottom: 10px;
  text-align: center;
}

.evaluate {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 36px;
  width: 675px;
}

textarea {
  border: 1px solid var(--trybe-purple);
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  margin-top: 10px;
}

#evaluation-form textarea {
  resize: none;
  width: 100%;
}

.textarea {
  line-height: 0.8;
  margin-top: 20px;
}

.char-count {
  background-color: var(--clear-white);
  border-color: var(--trybe-purple);
  border-radius: 0 0 4px 4px;
  border-style: solid;
  border-width: 0 1px 1px;
  line-height: 1.5;
  padding-bottom: 4px;
  padding-right: 4px;
  text-align: right;
}

main {
  align-items: center;
  display: flex;
  height: 85vh;
  margin: 0 auto;
  max-width: 1366px;
}

.fieldset-one input {
  background-color: var(--clear-white);
  border: none;
  border-radius: 8px;
  padding: 4px 12px;
  width: 48%;
}

.fieldset-one div select {
  background-color: var(--clear-white);
  border: none;
  border-radius: 8px;
  padding: 4px 12px;
  width: 40%;
}

.fieldset-one input , .fieldset-one div select {
  border: 2px solid var(--clear-white);
}

.subjects div input {
  margin-right: 4px;
}

.subjects div input + input {
  margin-left: 24px;
}

.fieldset-one input:focus {
  border: 2px solid var(--trybe-purple);
}

.fieldset-one div select:active {
  border: 1px solid var(--active-fieldset);
  border-bottom: none;
  border-radius: 8px 8px 0 0;
}

fieldset {
  border: none;
}

hr {
  margin: 12px 0;
}

footer {
  align-items: center;
  background-color: var(--trybe-footer);
  color: var(--clear-white);
  display: flex;
  height: 5vh;
  justify-content: center;
}
